.column {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 420px;
  max-width: 580px;
  margin-left: 1.75rem;
  border: 1px solid;
  border-radius: 0.5rem;
  overflow: auto;
  min-height: 120px;
}

body[data-theme^="light"] .column {
  background-color: var(--theme-secondary-200);
  border-color: var(--theme-secondary-300);
}

body[data-theme^="dark"] .column {
  background-color: var(--theme-secondary-800);
  border-color: var(--theme-secondary-700);
}

.column:first-child {
  margin-left: 0rem;
}

@media screen and (width <= 580px) {
  .column {
    flex: auto;
    margin-left: 0;
    margin-top: 1.75rem;
    overflow: visible;
  }

  .column:first-child {
    margin-top: 0rem;
  }
}

.column .card-list {
  list-style: none;
  margin: 0;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
}

.column .drop.placeholder {
  display: block;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 2px dashed var(--theme-text-color);
  border-radius: 0.5rem;
  text-align: center;
  background-color: var(--theme-main-color);
  color: var(--theme-text-color);
  filter: opacity(0.5);
}

/* ----------------- */
/* Collapsed columns */

.column.collapsed button.expand {
  --button-size: 1.5rem;
  background-color: var(--theme-section-bg-color);
  order: 1;
}

.column.collapsed button.expand .icon-img {
  mask-image: url("/icons/expand.svg");
  background-color: var(--theme-section-text-color);
}

.column.collapsed .menu-component,
.column.collapsed .card-list {
  display: none;
}

.column.column.collapsed {
  min-height: auto;
}

@media screen and (width > 580px) {
  .column.collapsed {
    flex-grow: 0;
    flex-basis: auto;
  }

  .column.collapsed header {
    flex-direction: column;
    align-items: center;
    gap: 1.05rem;
  }

  .column.collapsed button.expand {
    order: 0;
  }

  .column.collapsed .show.title {
    writing-mode: vertical-lr;
    width: auto;
    margin: 0;
  }
}
