.column {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 420px;
  max-width: 580px;
  margin-left: 1.75rem;
  background-color: var(--theme-section-bg-color);
  color: var(--theme-section-text-color);
  border-radius: 0.5rem;
  overflow: auto;
  min-height: 120px;
}

.column:first-child {
  margin-left: 0rem;
}

@media screen and (width <= 780px) {
  .column {
    flex: auto;
    margin-left: 0;
    margin-top: 1.75rem;
    overflow: visible;
  }

  .column:first-child {
    margin-top: 0rem;
  }
}

.column > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.75rem;
}

.column > header .show.title {
  width: 50%;
  flex: 1 1 auto;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column > header .menu-component .options.container {
  z-index: 100;
}

.column > header .menu-component .options.list {
  font-size: 0.9rem;
  border-radius: 4px;
  border: 1px solid var(--theme-text-color);
  --background-menu-list: var(--theme-cta-bold-bg-color);
  color: var(--theme-text-color);
  overflow: hidden;
}

.column > header .menu-component .option button {
  text-transform: capitalize;
}

.column > header .edit.form {
  width: 100%;
  display: flex;
  align-items: center;
}

.column > header .edit.title {
  width: 50%;
  flex: 1 1 auto;
  border-radius: 4px;
  background-color: var(--theme-section-bg-color);
}

.column > header .edit.form button {
  flex-shrink: 0;
}

.column > header .edit.form button.icon {
  --button-size: 1.5rem;
  border-radius: 4px;
  background-color: var(--theme-section-bg-color);
  margin: 0 0.5rem;
}

.column > header .edit.form .cancel .icon-img {
  mask-image: url("/icons/close.svg");
  background-color: var(--theme-section-text-color);
}

.column > header .edit.form .submit .icon-img {
  mask-image: url("/icons/check.svg");
  background-color: var(--theme-section-text-color);
}

.column > header .menu-component button.icon {
  --button-size: 1.25rem;
  border-radius: 4px;
  background-color: var(--theme-section-bg-color);
}

.column > header .menu-component .icon-img {
  mask-image: url("/icons/menu.svg");
  background-color: var(--theme-section-text-color);
}

.column .card-list {
  list-style: none;
  margin: 0;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
}

.column .drop.placeholder {
  display: block;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 2px dashed var(--theme-text-color);
  border-radius: 0.5rem;
  text-align: center;
  background-color: var(--theme-main-color);
  color: var(--theme-text-color);
  filter: opacity(0.5);
}

/* Collapsed columns */
.column.collapsed {
  flex: auto;
  flex-grow: 0;
}

.column.collapsed header {
  flex-direction: column;
  align-items: center;
  gap: 1.05rem;
}

.column.collapsed button.expand {
  --button-size: 1.5rem;
  background-color: var(--theme-section-bg-color);
}

.column.collapsed button.expand .icon-img {
  mask-image: url("/icons/expand.svg");
  background-color: var(--theme-section-text-color);
}

.column.collapsed .show.title {
  writing-mode: vertical-lr;
  width: auto;
  margin: 0;
}

.column.collapsed .menu-component,
.column.collapsed .card-list {
  display: none;
}
