.column {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 420px;
  max-width: 580px;
  border: 1px solid;
  border-radius: 0.75rem;
  overflow: auto;
  min-height: 120px;
}

body[data-theme^="light"] .column {
  background-color: var(--theme-secondary-100);
  border-color: var(--theme-secondary-300);
  --text-support-color: var(--theme-gray-800);
}

body[data-theme^="dark"] .column {
  background-color: var(--theme-secondary-900);
  border-color: var(--theme-secondary-700);
  --text-support-color: var(--theme-gray-200);
}

@media screen and (width <= 580px) {
  .column {
    flex: auto;
    overflow: visible;
  }
}

.column .card-list {
  list-style: none;
  margin: 0;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
}

.column .drop.placeholder {
  display: block;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 2px dashed;
  border-radius: 0.65rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-support-color);
}

body[data-theme^="light"] .column .drop.placeholder {
  background-color: var(--theme-primary-200);
  border-color: var(--theme-primary-300);
}

body[data-theme^="dark"] .column .drop.placeholder {
  background-color: var(--theme-primary-800);
  border-color: var(--theme-primary-600);
}

.column > footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0 0.75rem;
}

.column > footer .button {
  flex: 1;
  justify-content: center;
  background-color: var(--button-bg-color);
}

.column > footer .button .icon-img {
  /* considering padding and border of the container to center icon */
  width: calc(var(--button-size) - 2 * 0.3rem - 2 * 1px);
  mask-size: contain;
}

body[data-theme^="light"] .column > footer .button {
  --cta-bg-color: var(--theme-secondary-100);
  --cta-border-color: var(--theme-primary-300);
  --text-support-color: var(--theme-gray-400);
}

body[data-theme^="dark"] .column > footer .button {
  --cta-bg-color: var(--theme-primary-800);
  --cta-border-color: var(--theme-primary-600);
  --text-support-color: var(--theme-gray-400);
}

/* ----------------- */
/* Collapsed columns */

.column.collapsed button.expand {
  --button-size: 1.25rem;
  order: 1;
}

.column.collapsed button.expand .icon-img {
  mask-image: url("/icons/expand.svg");
  background-color: var(--text-support-color);
}

.column.collapsed .menu-component,
.column.collapsed .card-list,
.column.collapsed footer {
  display: none;
}

.column.column.collapsed {
  min-height: auto;
}

@media screen and (width > 580px) {
  .column.collapsed {
    flex-grow: 0;
    flex-basis: auto;
  }

  .column.collapsed header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .column.collapsed button.expand {
    order: 0;
  }

  .column.collapsed .show.title {
    writing-mode: vertical-lr;
    width: auto;
    margin: 0;
  }
}
