.column .badge {
  align-self: center;
  text-align: center;
  min-width: 0.85em;
  padding: 0.3rem 0.4rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  overflow: hidden;
}

body[data-theme^="light"] .column .badge {
  background-color: var(--theme-secondary-200);
}

body[data-theme^="dark"] .column .badge {
  background-color: var(--theme-secondary-800);
}

.column .badge.empty {
  visibility: hidden;
  min-width: none;
  padding: 0;
  width: 1.25rem;
}
