.modal {
  --modal-padding: 1.5rem;
  padding: var(--modal-padding);
  border-radius: 0.7rem;
  border: 1px solid;
  font-size: 0.95rem;
}

body[data-theme^="light"] .modal {
  background-color: var(--theme-gray-50);
  border-color: var(--theme-gray-300);
  --text-color: var(--theme-gray-950);
  --text-support-color: var(--theme-gray-800);
  --cta-bg-color: var(--theme-primary-200);
  --cta-border-color: var(--theme-primary-300);
}

body[data-theme^="dark"] .modal {
  background-color: var(--theme-gray-900);
  border-color: var(--theme-gray-700);
  --text-color: var(--theme-gray-50);
  --text-support-color: var(--theme-gray-200);
  --cta-bg-color: var(--theme-primary-800);
  --cta-border-color: var(--theme-primary-600);
}

@media screen and (width <= 580px) {
  .modal {
    width: 100%;
    --modal-padding: 0.5rem;
  }
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal header button.cancel {
  --button-size: 1.5rem;
}

.modal header button.cancel .icon-img {
  mask-image: url("/icons/close.svg");
  background-color: var(--text-support-color);
}

.modal .form-container {
  width: 600px;
  padding: 1rem;
  color: var(--text-color);
  border: 1px solid;
  border-radius: 0.7rem;
}

body[data-theme^="light"] .modal .form-container {
  background-color: var(--theme-secondary-100);
  border-color: var(--theme-secondary-300);
}

body[data-theme^="dark"] .modal .form-container {
  background-color: var(--theme-secondary-900);
  border-color: var(--theme-secondary-700);
}

@media screen and (width <= 580px) {
  .modal .form-container {
    width: auto;
  }
}

.modal .title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-support-color);
}

.modal form {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto 4fr;
  grid-auto-flow: row;
  gap: 1rem;
}

@media screen and (width <= 580px) {
  .modal form {
    gap: 0.5rem;
  }
}

.modal form label {
  justify-self: end;
  align-self: center;
  color: var(--text-support-color);
}

.modal form label:nth-last-of-type(2) {
  align-self: flex-start;
  /* let's align it with the text area content */
  margin-top: 0.5rem;
}

.modal form label + * {
  justify-self: start;
  align-self: center;
  border: 1px solid;
  background-color: var(--cta-bg-color);
  border-color: var(--cta-border-color);
}

@media screen and (width <= 580px) {
  .modal form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .modal form label {
    justify-self: start;
  }

  .modal form label + * {
    margin-bottom: 0.5rem;
  }

  .modal form label:nth-last-of-type(2) {
    align-self: auto;
    margin-top: 0;
  }
}

.modal form input[type="text"] {
  justify-self: auto;
  padding: 0.5rem;
  border-radius: 0.6rem;
}

.modal form textarea {
  justify-self: auto;
  resize: vertical;
  padding: 0.5rem;
  height: 10rem;
  border-radius: 0.6rem;
}

.modal form select {
  max-width: 160px;
  border-radius: 0.6rem;
  padding: 0.2rem 0.4rem;
}

.modal footer {
  margin: 0.5rem 0;
  display: flex;
  justify-content: end;
}

.modal footer button {
  padding: 0.2rem 0.4rem;
  border: 1px solid;
  border-color: var(--cta-border-color);
  border-radius: 0.6rem;
  color: var(--text-support-color);
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--cta-bg-color);
}
