.modal {
  --modal-padding: 1.25rem;
  padding: var(--modal-padding);
  border-radius: 0.5rem;
  border: 2px solid var(--theme-main-color);
  background-color: var(--theme-bg-color);
}

@media screen and (width <= 780px) {
  .modal {
    width: 100%;
    --modal-padding: 0.5rem;
  }
}

.modal .form-container {
  width: 640px;
  background-color: var(--theme-section-bg-color);
  padding: 1rem;
  color: var(--theme-section-text-color);
  border-radius: 0.5rem;
}

@media screen and (width <= 780px) {
  .modal .form-container {
    width: auto;
  }
}

.modal .title {
  margin: 1rem 0;
}

.modal form {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-flow: row;
  gap: 1rem;
}

@media screen and (width <= 780px) {
  .modal form {
    gap: 0.5rem;
  }
}

.modal form label {
  justify-self: end;
  align-self: center;
  font-weight: 600;
}

.modal form label + * {
  justify-self: start;
  align-self: center;
  background-color: var(--theme-main-color);
  color: var(--theme-text-color);
  font-weight: 400;
}

@media screen and (width <= 780px) {
  .modal form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .modal form label {
    justify-self: start;
  }

  .modal form label + * {
    margin-bottom: 0.5rem;
  }
}

.modal form input[type="text"] {
  justify-self: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.modal form textarea {
  justify-self: auto;
  resize: none;
  padding: 0.5rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.modal form select {
  max-width: 160px;
  background-color: var(--theme-main-color);
  color: var(--theme-text-color);
  border: 0;
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 0.85rem;
}

.modal footer {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.modal footer button {
  background-color: var(--theme-cta-bold-bg-color);
  color: var(--theme-text-color);
  border: 0;
  border-radius: 4px;
  font-size: 0.85rem;
  font-weight: 600;
}
