.card {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid;
  border-radius: 0.75rem;
  word-wrap: break-word;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  --button-size: 1.25rem;
}

body[data-theme^="light"] .card {
  --card-bg-color: var(--theme-primary-200);
  border-color: var(--theme-primary-300);
  --card-text-color: var(--theme-gray-950);
  --card-support-color: var(--theme-gray-800);
}

body[data-theme^="dark"] .card {
  --card-bg-color: var(--theme-primary-800);
  border-color: var(--theme-primary-600);
  --card-text-color: var(--theme-gray-50);
  --card-support-color: var(--theme-gray-200);
}

.card header {
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
}

.card h3 {
  font-weight: 500;
}

.card header button.drag {
  /* slight adjustment to adjust icon size with the rest of footer icons */
  padding: 0.1rem;
  flex-shrink: 0;
  cursor: grab;
}

.card header button.drag:active {
  cursor: grabbing;
}

.card .title {
  margin: 0;
  overflow-wrap: anywhere;
}

.card .description {
  font-size: 0.95rem;
}

.card p {
  margin: 0;
  line-height: 1.4;
}

.card footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card select {
  max-width: 160px;
  background-color: var(--card-bg-color);
  color: var(--card-support-color);
  border: 0;
  font-size: 0.9rem;
  font-weight: 400;
  box-shadow:
    0 1px var(--card-bg-color),
    0 2px var(--card-support-color);
}

.card footer > * {
  margin-right: 1rem;
}
.card footer > *:last-of-type {
  margin-right: 0;
}

.card footer .buttons.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card footer .buttons.container button {
  margin-right: calc(1 * var(--button-size));
}
.card footer .buttons.container button:last-of-type {
  margin-right: 0;
}

.card footer .buttons.right.container button {
  /* slight adjustment to adjust icon size with the rest of footer icons */
  padding: 0.1rem;
  /* 
    adding more space for the remove card button to avoid click by mistake 
    and to the edit button to keep consistency
  */
  margin-right: calc(1.25 * var(--button-size));
}
.card footer .buttons.right.container button:last-of-type {
  margin-right: 0;
}

.card button.icon {
  --button-size: 1.25rem;
}

.card button .icon-img {
  background-color: var(--card-support-color);
}

.card button.drag .icon-img {
  mask-image: url("/icons/drag.svg");
}

.card button.move-top .icon-img {
  mask-image: url("/icons/move-top.svg");
}

.card button.move-up .icon-img {
  mask-image: url("/icons/move-up.svg");
}

.card button.move-down .icon-img {
  mask-image: url("/icons/move-down.svg");
}

.card button.move-bottom .icon-img {
  mask-image: url("/icons/move-bottom.svg");
}

.card button.edit .icon-img {
  mask-image: url("/icons/edit.svg");
}

.card button.delete .icon-img {
  mask-image: url("/icons/remove.svg");
}

/* hiding the move up and move down buttons ofr first and last cards */
.card-list > li:first-of-type button.move-top,
.card-list > li:first-of-type button.move-up,
.card-list > li:last-of-type button.move-down,
.card-list > li:last-of-type button.move-bottom {
  visibility: hidden;
}
