.card {
  color: var(--theme-text-color);
  background-color: var(--theme-main-color);
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  word-wrap: break-word;
}

.card header {
  margin-bottom: 1rem;
  overflow: hidden;
}

.card .title {
  margin: 0;
}

.card p {
  margin: 0;
  line-height: 1.4;
}

.card footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card select {
  max-width: 160px;
  background-color: var(--theme-main-color);
  color: var(--theme-text-color);
  border: 0;
  font-size: 0.9rem;
  font-weight: 400;
  box-shadow: 0 1px var(--theme-main-color), 0 2px var(--theme-text-color);
}

.card footer > * {
  margin-right: 1rem;
}
.card footer > *:last-of-type {
  margin-right: 0;
}

.card footer .buttons.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card footer .buttons.container button {
  margin-right: calc(1 * var(--button-size));
}
.card footer .buttons.container button:last-of-type {
  margin-right: 0;
}

/* 
  adding more space for the remove card button to avoid click by mistake 
  and to the edit button to keep consistency
*/
.card footer .buttons.right.container button {
  margin-right: calc(1.25 * var(--button-size));
}
.card footer .buttons.right.container button:last-of-type {
  margin-right: 0;
}

.card button.icon {
  --button-size: 1.25rem;
  background-color: var(--theme-main-color);
}

.card button .icon-img {
  background-color: var(--theme-text-color);
}

.card button.move-top .icon-img {
  mask-image: url("/icons/move-top.svg");
}

.card button.move-up .icon-img {
  mask-image: url("/icons/move-up.svg");
}

.card button.move-down .icon-img {
  mask-image: url("/icons/move-down.svg");
}

.card button.move-bottom .icon-img {
  mask-image: url("/icons/move-bottom.svg");
}

.card button.edit .icon-img {
  mask-image: url("/icons/edit.svg");
}

.card button.delete .icon-img {
  mask-image: url("/icons/remove.svg");
}

/* hiding the move up and move down buttons ofr first and last cards */
.card-list > li:first-of-type button.move-top,
.card-list > li:first-of-type button.move-up,
.card-list > li:last-of-type button.move-down,
.card-list > li:last-of-type button.move-bottom {
  visibility: hidden;
}
