.card {
  color: var(--card-text-color);
  background-color: var(--card-bg-color);
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  word-wrap: break-word;
}

.card header {
  margin-bottom: 1rem;
}

.card .title {
  margin: 0;
}

.card p {
  margin: 0;
  line-height: 1.4;
}

.card footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card select {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  border: 0;
  font-size: 0.9rem;
  font-weight: 400;
  box-shadow: 0 1px var(--card-bg-color), 0 2px var(--card-text-color);
}

.card footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card footer .middle.container {
  margin: 0 1.5rem; 
}

.card button.icon,
.card button.icon {
  --buton-size: 1.25rem;
  width: var(--buton-size);
  height: var(--buton-size);
  border: 0;
  padding: 0;
  display: flex;
  background-color: var(--card-bg-color);
}

.card footer .container button {
  margin-right: calc(1 * var(--buton-size));
}

.card footer .right.container button {
  /* adding more space for the remove card button to avoid click by mistake */
  margin-right: calc(1.5 * var(--buton-size));
}

.card footer .container button:last-of-type {
  margin-right: 0;
}

.card button .icon-img {
  width: 100%;
  height: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
  background-color: var(--card-text-color);
}

.card button.move-top .icon-img {
  mask-image: url("../icons/move-top.svg");
}

.card button.move-up .icon-img {
  mask-image: url("../icons/move-up.svg");
}

.card button.move-down .icon-img {
  mask-image: url("../icons/move-down.svg");
}

.card button.move-bottom .icon-img {
  mask-image: url("../icons/move-bottom.svg");
}

.card button.edit .icon-img {
  mask-image: url("../icons/edit.svg");
}

.card button.delete .icon-img {
  mask-image: url("../icons/remove.svg");
}

/* hiding the move up and move down buttons ofr first and last cards */
.card-list > li:first-of-type button.move-top,
.card-list > li:first-of-type button.move-up,
.card-list > li:last-of-type button.move-down,
.card-list > li:last-of-type button.move-bottom {
  visibility: hidden;
}
