@import url("./themes.css");
@import url("inbuilt-overrides.css");
@import url("./modal.css");
@import url("./card.css");

:root {
  font-family: noto-sans, system-ui, sans-serif;
}

/* BUTTONS WITH ONLY ICON */

button.icon {
  width: var(--button-size);
  height: var(--button-size);
  border: 0;
  padding: 0;
  display: flex;
}

button.icon .icon-img {
  width: 100%;
  height: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

/* MAIN CONTAINERS */

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
}

#board {
  align-self: stretch;
  display: flex;
  /* we may have too many columns */
  overflow: auto;
  margin: 1rem 0;
}
body.show-modal #board {
  display: none;
}

@media screen and (width <= 640px) {
  #board {
    flex-direction: column;
  }
}

header {
  display: flex;
  justify-content: space-between;
}

body.show-modal header {
  display: none;
}

#new-card-button {
  --button-size: 2.5rem;
  border-radius: 4px;
  background-color: var(--column-bg-color);
}

#new-card-button .icon-img {
  mask-image: url("../icons/add.svg");
  background-color: var(--card-bg-color);
}

.history-controls {
  align-items: center;
  display: flex;
}

.history-controls button:disabled {
  visibility: hidden  ;
}

.history-controls button.icon {
  --button-size: 1.75rem;
  margin: 0.5rem 0.75rem;
  background-color: inherit;
}

.history-controls button .icon-img {
  background-color: var(--card-bg-color);
}

.history-controls button.undo .icon-img {
  mask-image: url("../icons/undo.svg");
}
.history-controls button.redo .icon-img {
  mask-image: url("../icons/redo.svg");
}

/* COLUMNS STYLE */

.column {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 420px;
  margin-left: 1.75rem;
  background-color: var(--column-bg-color);
  color: var(--column-text-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.column:first-child {
  margin-left: 0rem;
}

@media screen and (width <= 640px) {
  .column {
    flex: auto;
    margin-left: 0;
    margin-top: 1.75rem;
  }

  .column:first-child {
    margin-top: 0rem;
  }
}

.column > .title {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  margin: 1rem 0;
}

.card-list {
  list-style: none;
  margin: 0;
  padding: 0 0.75rem;
}

/* --------------------- */
/*       FOOTER          */
/* --------------------- */

main > footer {
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: var(--column-bg-color);
  color: var(--column-text-color);
  border-radius: 0.5rem;
}
body.show-modal main > footer {
  display: none;
}

main > footer section {
  margin: 1rem 0;
}

main > footer button,
main > footer input {
  margin: 0.5rem;
  background-color: var(--card-text-color);
  color: var(--card-bg-color);
  border: 0;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
}

#import-section input[type="file"] {
  font-weight: 400;
}

#import-section span.success {
  color: rgb(16, 45, 173);
}

#import-section span.error {
  color: rgb(173, 16, 16);
}

#import-section span.success,
#import-section span.error {
  display: none;
}

#import-section.success span.success {
  display: initial;
}

#import-section.error span.error {
  display: initial;
}

/* THEME SELECTION */

section.theme-selector {
  display: flex;
}

.theme-selector button {
  border: none;
  border-radius: 4px;
  overflow: hidden;
  padding: 0;
  background: none;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 1rem;
}

.theme-selector .color-sample {
  width: 1rem;
  height: 1rem;
}
.theme-selector .color-sample:nth-child(1) {
  background-color: var(--column-bg-color);
}
.theme-selector .color-sample:nth-child(2) {
  background-color: var(--column-text-color);
}
.theme-selector .color-sample:nth-child(3) {
  background-color: var(--card-bg-color);
}
.theme-selector .color-sample:nth-child(4) {
  background-color: var(--card-text-color);
}
