@import url("./themes.css");
@import url("inbuilt-overrides.css");
@import url("./card.css");

:root {
  font-family: noto-sans, system-ui, sans-serif;
}

/* MAIN CONTAINERS */

main {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
}

#board {
  display: flex;
  margin: 1rem 0;
}

@media screen and (width <= 860px) {
  #board {
    flex-direction: column;
  }
}

header {
  display: flex;
  justify-content: space-between;
}

#new-card-button {
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  border-radius: 4px;
  display: flex;
  background-color: var(--column-bg-color);
}

#new-card-button .icon-img {
  width: 100%;
  height: 100%;
  mask-image: url("../icons/add.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  background-color: var(--card-bg-color);
}

/* COLUMNS STYLE */

.column {
  width: 412px;
  margin-left: 1.75rem;
  background-color: var(--column-bg-color);
  color: var(--column-text-color);
  border-radius: 0.5rem;
}

.column:first-child {
  margin-left: 0rem;
}

@media screen and (width <= 860px) {
  .column {
    width: auto;
    margin-left: 0;
    margin-top: 1.75rem;
  }

  .column:first-child {
    margin-top: 0rem;
  }
}

.column > .title {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  margin: 1rem 0;
}

.card-list {
  list-style: none;
  margin: 0;
  padding: 0 0.75rem;
}

/* ------------------------- */
/* CARD MODAL (NEW AND EDIT) */
/* ------------------------- */

body.card-modal {
  overflow: hidden;
}

body.card-modal .modal {
  display: flex;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--card-text-color);
  z-index: 100;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.modal .form-container {
  width: 640px;
  background-color: var(--card-bg-color);
  padding: 1rem;
  color: var(--card-text-color);
  border-radius: 0.5rem;
}

@media screen and (width <= 860px) {
  .card-modal .form-container {
    width: 100%;
  }
}

.card-modal .title {
  margin: 1rem 0;
}

.card-modal form {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-gap: 0.5rem 1rem;
}

.card-modal form label {
  justify-self: end;
  align-self: center;
}

.card-modal form label + * {
  justify-self: start;
  align-self: center;
  color: var(--card-bg-color);
  font-weight: 600;
}

@media screen and (width <= 860px) {
  .card-modal form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .card-modal form label {
    justify-self: start;
  }
}

.card-modal form input[type="text"] {
  justify-self: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.card-modal form textarea {
  justify-self: auto;
  resize: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.card-modal form select {
  background-color: var(--card-text-color);
  border: 0;
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 0.85rem;
}

.card-modal footer {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.card-modal footer button {
  background-color: var(--card-text-color);
  color: var(--card-bg-color);
  border: 0;
  border-radius: 4px;
  font-size: 0.85rem;
  font-weight: 600;
}

/* --------------------- */
/*       FOOTER          */
/* --------------------- */

main > footer {
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: var(--column-bg-color);
  color: var(--column-text-color);
  border-radius: 0.5rem;
}

main > footer section {
  margin: 1rem 0;
}

main > footer button,
main > footer input {
  margin: 0 0.5rem;
  background-color: var(--card-text-color);
  color: var(--card-bg-color);
  border: 0;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
}

#import-section input[type="file"] {
  font-weight: 400;
}

#import-section span.success {
  color: rgb(16, 45, 173);
}

#import-section span.error {
  color: rgb(173, 16, 16);
}

#import-section span.success,
#import-section span.error {
  display: none;
}

#import-section.success span.success {
  display: initial;
}

#import-section.error span.error {
  display: initial;
}

/* THEME SELECTION */

section.theme-selector {
  display: flex;
}
.theme-selector button {
  border: none;
  background: none;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 0.5rem;
}
.theme-selector .color-sample {
  width: 1rem;
  height: 1rem;
}
.theme-selector .color-sample:nth-child(1) {
  background-color: var(--column-bg-color);
}
.theme-selector .color-sample:nth-child(2) {
  background-color: var(--column-text-color);
}
.theme-selector .color-sample:nth-child(3) {
  background-color: var(--card-bg-color);
}
.theme-selector .color-sample:nth-child(4) {
  background-color: var(--card-text-color);
}
