.menu-component {
  display: inline-flex;
  flex-direction: column;
}

.menu-component .options.container {
  position: relative;
}

.menu-component .options.list[hidden] {
  display: none;  
}

.menu-component .options.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  --background-menu-list: initial;
  background: var(--background-menu-list);
}

.menu-component[data-position-y="top"] {
  position: relative; 
}
.menu-component[data-position-y="top"] .options.container{
  position: static;
}
.menu-component[data-position-y="top"] .options.list {
  transform: translateY(-100%);
}

.menu-component[data-position-x="right"] .options.list {
  left: unset;
  right: 0;
}

.menu-component .option {
  list-style: none;
}

.menu-component .option button {
  background: var(--background-menu-list);
  margin: 0.25rem;
  border-radius: 4px;
}