.history-controls {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.history-controls button:disabled {
  visibility: hidden;
}

.history-controls button.icon {
  --button-size: 2.5rem;
  border-radius: 4px;
  padding: 0.25rem;
  background-color: var(--theme-main-color);
}

.history-controls button .icon-img {
  background-color: var(--theme-text-color);
}

.history-controls button.undo .icon-img {
  mask-image: url("/icons/undo.svg");
}
.history-controls button.redo .icon-img {
  mask-image: url("/icons/redo.svg");
}
