#import-section input[type="file"] {
  font-weight: 400;
}

#import-section span.success {
  color: rgb(16, 45, 173);
}

#import-section span.error {
  color: rgb(173, 16, 16);
}

#import-section span.success,
#import-section span.error {
  display: none;
}

#import-section.success span.success {
  display: initial;
}

#import-section.error span.error {
  display: initial;
}
