#theme-select-section {
  display: flex;
  align-items: center;
}

#theme-select-section button {
  border: 1px solid;
  overflow: hidden;
  border-radius: 0.3rem;
  background: none;
  padding: 0;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

body[data-theme^="light"] #theme-select-section button {
  border-color: var(--theme-primary-300)
}
body[data-theme^="dark"] #theme-select-section button {
  border-color: var(--theme-primary-600)
}

#theme-select-section .color-sample {
  width: 1rem;
  height: 1rem;
}

/* 
  Selectors for light themes
*/
#theme-select-section [data-theme^="light"] .color-sample:nth-child(1) {
  background-color: var(--theme-primary-200);
}
#theme-select-section [data-theme^="light"] .color-sample:nth-child(2) {
  background-color: var(--theme-primary-300);
}
#theme-select-section [data-theme^="light"] .color-sample:nth-child(3) {
  background-color: var(--theme-secondary-200);
}
#theme-select-section [data-theme^="light"] .color-sample:nth-child(4) {
  background-color: var(--theme-secondary-300);
}

/* 
  Selectors for dark themes
*/
#theme-select-section [data-theme^="dark"] .color-sample:nth-child(1) {
  background-color: var(--theme-primary-800);
}
#theme-select-section [data-theme^="dark"] .color-sample:nth-child(2) {
  background-color: var(--theme-primary-700);
}
#theme-select-section [data-theme^="dark"] .color-sample:nth-child(3) {
  background-color: var(--theme-secondary-800);
}
#theme-select-section [data-theme^="dark"] .color-sample:nth-child(4) {
  background-color: var(--theme-secondary-700);
}
