#theme-select-section {
  display: flex;
  align-items: center;
}

#theme-select-section button {
  border: 1px solid var(--theme-text-color);
  border-radius: 4px;
  background: none;
  overflow: visible;
  padding: 0;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#theme-select-section .color-sample {
  width: 1rem;
  height: 1rem;
}

/**
 * Let's highlight the main theme color, assigning it
 * to two right mini squares (children 2 and 4)
 */
#theme-select-section .color-sample:nth-child(1) {
  background-color: var(--theme-section-bg-color);
}
#theme-select-section .color-sample:nth-child(2) {
  background-color: var(--theme-main-color);
}
#theme-select-section .color-sample:nth-child(3) {
  background-color: var(--theme-section-text-color);
}
#theme-select-section .color-sample:nth-child(4) {
  background-color: var(--theme-main-color);
}
