#root {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 1920px;
  min-width: 350px;
}

body[data-theme^="light"] #root {
  --text-support-color: var(--theme-gray-800);
  --cta-bg-color: var(--theme-primary-200);
  --cta-border-color: var(--theme-primary-300);
}

body[data-theme^="dark"] #root {
  --text-support-color: var(--theme-gray-200);
  --cta-bg-color: var(--theme-primary-800);
  --cta-border-color: var(--theme-primary-600);
}

#board {
  align-self: stretch;
  display: flex;
  gap: 1rem;
  /* we may have too many columns */
  overflow: auto;
  margin: 1rem 0;
}

@media screen and (width <= 580px) {
  #root {
    margin: 0;
  }
  #board {
    flex-direction: column;
  }
}

#root > header {
  display: flex;
  justify-content: space-between;
}

/* --------------------- */
/*       FOOTER          */
/* --------------------- */

#main-footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 0.75rem;
}

@media screen and (width <= 580px) {
  #main-footer {
    flex-direction: column;
    gap: 2rem;
  }
}

body[data-theme^="light"] #main-footer {
  background-color: var(--theme-secondary-100);
  border-color: var(--theme-secondary-300);
}

body[data-theme^="dark"] #main-footer {
  background-color: var(--theme-secondary-900);
  border-color: var(--theme-secondary-700);
}

#main-footer button,
#main-footer input::file-selector-button {
  border-radius: 0.6rem;
  padding: 0.2rem 0.4rem;
  font-size: inherit;
  background-color: var(--cta-bg-color);
  border: 1px solid var(--cta-border-color);
}

#main-footer a {
  border-bottom: 2px solid;
  border-color: var(--cta-border-color);
}

#main-footer section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#main-footer .section-content {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 2px solid;
  border-color: var(--theme-gray-400);
}

#main-footer h2 {
  font-weight: 500;
  text-transform: capitalize;
  color: var(--text-support-color);
}

#main-footer article {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.95rem;
}

#main-footer .field-name {
  color: var(--text-support-color);
}

#main-footer .board-data article {
  flex-wrap: wrap;
}
