#root {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 1920px;
  min-width: 350px;
}

#board {
  align-self: stretch;
  display: flex;
  /* we may have too many columns */
  overflow: auto;
  margin: 1rem 0;
}

@media screen and (width <= 580px) {
  #root {
    margin: 0;
  }
  #board {
    flex-direction: column;
  }
}

#root > header {
  display: flex;
  justify-content: space-between;
}

#new-card-button {
  --button-size: 2.5rem;
  padding: 0.25rem;
  border: 1px solid;
  border-radius: 0.75rem;
}

body[data-theme^="light"] #new-card-button {
  border-color: var(--theme-primary-300);
  background-color: var(--theme-primary-50);
}

body[data-theme^="dark"] #new-card-button {
  border-color: var(--theme-primary-600);
  background-color: var(--theme-primary-950);
}

#new-card-button .icon-img {
  mask-image: url("/icons/add.svg");
}

body[data-theme^="light"] #new-card-button .icon-img {
  background-color: var(--theme-primary-500);
}

body[data-theme^="dark"] #new-card-button .icon-img {
  background-color: var(--theme-primary-400);
}

/* --------------------- */
/*       FOOTER          */
/* --------------------- */

#main-footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
}

@media screen and (width <= 580px) {
  #main-footer {
    flex-direction: column;
    gap: 2rem;
  }
}

body[data-theme^="light"] #main-footer {
  background-color: var(--theme-secondary-200);
  border-color: var(--theme-secondary-300);
}

body[data-theme^="dark"] #main-footer {
  background-color: var(--theme-secondary-800);
  border-color: var(--theme-secondary-700);
}

#main-footer button,
#main-footer input::file-selector-button {
  border-radius: 0.3rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.9rem;
}

body[data-theme^="light"] #main-footer button,
body[data-theme^="light"] input::file-selector-button {
  background-color: var(--theme-primary-200);
  border: 1px solid var(--theme-primary-300);
}

body[data-theme^="dark"] #main-footer button,
body[data-theme^="dark"] input::file-selector-button {
  background-color: var(--theme-primary-800);
  border: 1px solid var(--theme-primary-600);
}

#main-footer a {
  border-bottom: 2px solid;
}

body[data-theme^="light"] #main-footer a {
  border-color: var(--theme-primary-300);
}


body[data-theme^="dark"] #main-footer a {
  border-color: var(--theme-primary-600);
}


#main-footer section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#main-footer .section-content {
  margin-left: 0.5rem;
  border-left: 2px solid;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

body[data-theme^="light"] #main-footer .section-content {
  border-color: var(--theme-gray-400);
}

body[data-theme^="dark"] #main-footer .section-content {
  border-color: var(--theme-gray-400);
}


#main-footer h2 {
  font-weight: 500;
  text-transform: capitalize;
}

body[data-theme^="light"] #main-footer h2 {
  color: var(--theme-gray-800);
}

body[data-theme^="dark"] #main-footer h2 {
  color: var(--theme-gray-200);
}

#main-footer article {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#main-footer .board-data article {
  flex-wrap: wrap;
}

body[data-theme^="light"] #main-footer .field-name {
  color: var(--theme-gray-800);
}

body[data-theme^="dark"] #main-footer .field-name {
  color: var(--theme-gray-200);
}