#root {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 1920px;
  min-width: 350px;
}

#board {
  align-self: stretch;
  display: flex;
  justify-content: center;
  /* we may have too many columns */
  overflow: auto;
  margin: 1rem 0;
}

@media screen and (width <= 580px) {
  #root {
    margin: 0;
  }
  #board {
    flex-direction: column;
  }
}

#root > header {
  display: flex;
  justify-content: space-between;
}

#new-card-button {
  --button-size: 2.5rem;
  border-radius: 4px;
  padding: 0.25rem;
  background-color: var(--theme-cta-bg-color);
}

#new-card-button .icon-img {
  mask-image: url("/icons/add.svg");
  background-color: var(--theme-text-color);
}

/* --------------------- */
/*       FOOTER          */
/* --------------------- */

#main-footer {
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: var(--theme-section-bg-color);
  font-weight: 600;
  color: var(--theme-section-text-color);
  border-radius: 0.5rem;
}

#main-footer section {
  margin: 1rem 0;
}

#main-footer button,
#main-footer input {
  margin: 0.5rem;
  background-color: var(--theme-cta-bg-color);
  color: var(--theme-text-color);
  border: 0;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
}
