:root {
  font-family: noto-sans, system-ui, sans-serif;
}

body {
  margin: 0;
  background-color: var(--theme-bg-color);
}

/* ----------------- */
/* INBUILT OVERRIDES */
/* ----------------- */

button,
input[type="file"] {
  padding: 0.3rem;
}

button:hover,
button:focus {
  filter: brightness(1.15);
}

select {
  padding: 0.2rem;
}

button,
input,
select,
textarea {
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration-line: none;
  border-bottom: 1px dotted;
}

/* ----------------- */
/* ICON ONLY BUTTONS */
/* ----------------- */

button.icon {
  width: var(--button-size);
  height: var(--button-size);
  border: 0;
  padding: 0;
  display: flex;
}

button.icon .icon-img {
  width: 100%;
  height: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

/* ------ */
/* THEMES */
/* ------ */

body,
.theme-selector button {
  /* Generating a shades of the theme color */

  --theme-color: hsl(
    var(--theme-color-h),
    var(--theme-color-s),
    var(--theme-color-l)
  );
  --theme-dark-color: hsl(
    calc(var(--theme-color-h) + 1),
    calc(var(--theme-color-s)),
    calc(var(--theme-color-l) - 10%)
  );
  --theme-darker-color: hsl(
    calc(var(--theme-color-h) + 1),
    calc(var(--theme-color-s) + 30%),
    calc(var(--theme-color-l) - 25%)
  );
  --theme-light-color: hsl(
    calc(var(--theme-color-h) - 1),
    calc(var(--theme-color-s) + 15%),
    calc(var(--theme-color-l) + 45%)
  );
  --theme-lighter-color: hsl(
    calc(var(--theme-color-h) - 1),
    calc(var(--theme-color-s) + 20%),
    calc(var(--theme-color-l) + 58%)
  );
}

body,
body[data-theme="color-1"],
.theme-selector button[data-theme="color-1"] {
  /* Defining the values for the theme colod */
  --theme-color-h: 208;
  --theme-color-s: 23%;
  --theme-color-l: 35%;

  /* Defining theme variables to be used */
  --theme-main-color: var(--theme-color);
  --theme-section-bg-color: var(--theme-light-color);
  --theme-section-text-color: var(--theme-darker-color);
  --theme-section-outline-color: var(--theme-dark-color);
  --theme-cta-bold-bg-color: var(--theme-dark-color);
  --theme-bg-color: var(--theme-lighter-color);
  --theme-text-color: hsl(0 100% 100%);
}

body[data-theme="color-2"],
.theme-selector button[data-theme="color-2"] {
  --theme-color-h: 240;
  --theme-color-s: 15%;
  --theme-color-l: 38%;
  --theme-text-color: hsl(0 100% 100%);
}

body[data-theme="color-3"],
.theme-selector button[data-theme="color-3"] {
  --theme-color-h: 214;
  --theme-color-s: 25%;
  --theme-color-l: 35%;
  --theme-text-color: hsl(0 100% 100%);
}

body[data-theme="color-4"],
.theme-selector button[data-theme="color-4"] {
  --theme-color-h: 270;
  --theme-color-s: 25%;
  --theme-color-l: 40%;
  --theme-text-color: hsl(0 100% 100%);
}
