:root {
  font-family: noto-sans, system-ui, sans-serif;
}

body {
  margin: 0;
}

/* ----------------- */
/* INBUILT OVERRIDES */
/* ----------------- */

button,
input[type="file"] {
  padding: 0.3rem;
}

button:hover,
button:focus {
  filter: brightness(1.15);
}

select {
  padding: 0.2rem;
}

button,
input,
select,
textarea {
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration-line: none;
  border-bottom: 1px dotted;
}

/* ----------------- */
/* ICON ONLY BUTTONS */
/* ----------------- */

button.icon {
  width: var(--button-size);
  height: var(--button-size);
  border: 0;
  padding: 0;
  display: flex;
}

button.icon .icon-img {
  width: 100%;
  height: 100%;
  mask-size: 100%;
  mask-repeat: no-repeat;
}

/* ------ */
/* THEMES */
/* ------ */

body,
body[data-theme="color-1"],
.theme-selector button[data-theme="color-1"] {
  --column-bg-color: #dde6ed;
  --column-text-color: #27374d;
  --card-bg-color: #455b6e;
  --card-text-color: #fff;
}

body[data-theme="blackwhite"],
.theme-selector button[data-theme="blackwhite"] {
  --column-bg-color: #dedede;
  --column-text-color: #1c1c1c;
  --card-bg-color: #4f4f4f;
  --card-text-color: #fff;
}

body[data-theme="color-am-1"],
.theme-selector button[data-theme="color-am-1"] {
  --column-bg-color: #d5ebe7;
  --column-text-color: #2c3333;
  --card-bg-color: #395b64;
  --card-text-color: #fafafa;
}

body[data-theme="color-am-2"],
.theme-selector button[data-theme="color-am-2"] {
  --column-bg-color: #ededed;
  --column-text-color: #9d0b32;
  --card-bg-color: #52526f;
  --card-text-color: #fafafa;
}
