@import url(themes.css);

:root {
  font-family: noto-sans, system-ui, sans-serif;
}

body {
  margin: 0;
}

body[data-theme^="light"] {
  background-color: var(--theme-gray-50);
  color: var(--theme-gray-950);
}

body[data-theme^="dark"] {
  background-color: var(--theme-gray-900);
  color: var(--theme-gray-50);
}

/* ----------------- */
/* INBUILT OVERRIDES */
/* ----------------- */

h1,
h2,
h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

button,
input,
input::file-selector-button,
select,
textarea {
  border: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button,
select,
input::file-selector-button {
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 2px var(--theme-primary-500);
}

select {
  padding: 0.2rem;
}

a {
  color: inherit;
  text-decoration-line: none;
  border-bottom: 1px dotted;
}
