:root {
  font-family: noto-sans, sans-serif;
}

body,
body[data-theme="color-1"],
.theme-selector button[data-theme="color-1"] {
  --column-bg-color: #cae9ff;
  --column-text-color: #1b4965;
  --card-bg-color: #62b6cb;
  --card-text-color: #fff;
}

body[data-theme="blackwhite"],
.theme-selector button[data-theme="blackwhite"] {
  --column-bg-color: #dadada;
  --column-text-color: #000000;
  --card-bg-color: #3d3d3d;
  --card-text-color: #ffffff;
}

body[data-theme="color-am-1"],
.theme-selector button[data-theme="color-am-1"] {
  --column-bg-color: #e7f6f2;
  --column-text-color: #2c3333;
  --card-bg-color: #395b64;
  --card-text-color: #a5c9ca;
}

body[data-theme="color-am-2"],
.theme-selector button[data-theme="color-am-2"] {
  --column-bg-color: #dfdfde;
  --column-text-color: #f56d91;
  --card-bg-color: #8d8daa;
  --card-text-color: #f7f5f2;
}

/* CUSTOM STYLE FOR IN-BUILT ELEMENTS */

button:hover {
  opacity: 0.75;
}

/* MAIN CONTAINERS */

main {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
}

#board {
  display: flex;
  margin: 1rem 0;
}

@media screen and (width <= 860px) {
  #board {
    flex-direction: column;
  }
}

header {
  display: flex;
  justify-content: space-between;
}

#new-card-button {
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  border-radius: 4px;
  padding: 0.25rem;
  display: flex;
  background-color: var(--column-bg-color);
}

#new-card-button .icon {
  width: 100%;
  height: 100%;
  mask-image: url("./icons/add.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  background-color: var(--card-bg-color);
}

/* THEME SELECTION */

section.theme-selector {
  display: flex;
}
.theme-selector button {
  border: none;
  background: none;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 1rem;
}
.theme-selector .color-sample {
  width: 1rem;
  height: 1rem;
}
.theme-selector .color-sample:nth-child(1) {
  background-color: var(--column-bg-color);
}
.theme-selector .color-sample:nth-child(2) {
  background-color: var(--column-text-color);
}
.theme-selector .color-sample:nth-child(3) {
  background-color: var(--card-bg-color);
}
.theme-selector .color-sample:nth-child(4) {
  background-color: var(--card-text-color);
}

/* COLUMNS STYLE */

.column {
  width: 412px;
  margin-left: 1.75rem;
  background-color: var(--column-bg-color);
  color: var(--column-text-color);
}

.column:first-child {
  margin-left: 0rem;
}

@media screen and (width <= 860px) {
  .column {
    width: auto;
    margin-left: 0;
    margin-top: 1.75rem;
  }

  .column:first-child {
    margin-top: 0rem;
  }
}

.column > .title {
  font-size: 1.75rem;
  text-transform: capitalize;
  text-align: center;
  margin: 1rem 0;
}

.card-list {
  padding-left: 1rem;
}

/* CARD STYLE */

.card-list {
  list-style: none;
  margin: 0;
  padding: 0 0.75rem;
}

.card {
  color: var(--card-text-color);
  background-color: var(--card-bg-color);
  margin: 0.75rem 0;
  padding: 0.25rem;
}

.card > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
}

.card .title {
  margin: 0;
}

.card button.delete {
  width: 1.25rem;
  height: 1.25rem;
  border: 0;
  border-radius: 4px;
  padding: 0.25rem;
  display: flex;
  background-color: var(--card-text-color);
}

.card .icon {
  width: 100%;
  height: 100%;
  mask-image: url("./icons/close.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  background-color: var(--card-bg-color);
}

.card select {
  background-color: var(--card-text-color);
  color: var(--card-bg-color);
  border: 0;
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 0.8rem;
  font-weight: 400;
}

/* ------------- */
/*   NEW CARD    */
/* ------------- */

body.new-card .modal.new-card {
  display: flex;
}

.modal.new-card {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--card-text-color);
  z-index: 100;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.new-card .form.container {
  width: 640px;
  background-color: var(--card-bg-color);
  padding: 1rem;
  color: var(--card-text-color);
}

@media screen and (width <= 860px) {
  .new-card .form.container {
    width: 100%;
  }
}

.new-card .title {
  margin: 1rem 0;
}

.new-card form {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-gap: 0.5rem 1rem;
}

.new-card form label {
  justify-self: end;
  align-self: center;
}

.new-card form label + * {
  justify-self: start;
  align-self: center;
  color: var(--card-bg-color);
  font-weight: 600;
}

@media screen and (width <= 860px) {
  .new-card form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .new-card form label {
    justify-self: start;
  }
}

.new-card form input[type="text"] {
  justify-self: auto;
  padding: 0.25rem;
}

.new-card form textarea {
  justify-self: auto;
  resize: none;
  padding: 0.25rem;
}

.new-card form select {
  background-color: var(--card-text-color);
  border: 0;
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 0.85rem;
}

.new-card footer {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.new-card footer button {
  background-color: var(--card-text-color);
  color: var(--card-bg-color);
  border: 0;
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 0.85rem;
  font-weight: 600;
}

/* --------------------- */
/* IMPORT & EXPORT STYLE */
/* --------------------- */

main > footer {
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: var(--column-bg-color);
  color: var(--column-text-color);
}

main > footer section {
  margin: 1rem 0;
}

main > footer button,
main > footer input {
  margin: 0 0.5rem;
  background-color: var(--card-text-color);
  color: var(--card-bg-color);
  border: 0;
  border-radius: 4px;
  padding: 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
}

#import-section input[type="file"] {
  font-weight: 400;
}

#import-section span.success {
  color: rgb(16, 45, 173);
}

#import-section span.error {
  color: rgb(173, 16, 16);
}

#import-section span.success,
#import-section span.error {
  display: none;
}

#import-section.success span.success {
  display: initial;
}

#import-section.error span.error {
  display: initial;
}
