body[data-theme^="light"] {
  color-scheme: light;
}

body[data-theme^="dark"] {
  color-scheme: dark;
}

body {
  --theme-gray-50: #f5f7fa;
  --theme-gray-100: #ebeff3;
  --theme-gray-200: #d3dbe4;
  --theme-gray-300: #abbdce;
  --theme-gray-400: #7e99b2;
  --theme-gray-500: #5e7d99;
  --theme-gray-600: #4a647f;
  --theme-gray-700: #425870;
  --theme-gray-800: #354557;
  --theme-gray-900: #303c4a;
  --theme-gray-950: #202731;

  --theme-warning-50: #fcf4f4;
  --theme-warning-100: #fae6e6;
  --theme-warning-200: #f6d2d2;
  --theme-warning-300: #efb2b2;
  --theme-warning-400: #e48585;
  --theme-warning-500: #da6c6c;
  --theme-warning-600: #c24040;
  --theme-warning-700: #a23333;
  --theme-warning-800: #872d2d;
  --theme-warning-900: #712b2b;
  --theme-warning-950: #3c1313;
}

body[data-theme="light-1"],
body[data-theme="dark-1"],
.theme-selector[data-theme="light-1"],
.theme-selector[data-theme="dark-1"] {
  --theme-primary-50: #f4f9fb;
  --theme-primary-100: #e9f1f5;
  --theme-primary-200: #cde3ea;
  --theme-primary-300: #9ecad6;
  --theme-primary-400: #6fb1c1;
  --theme-primary-500: #4d97aa;
  --theme-primary-600: #3b7b8e;
  --theme-primary-700: #306374;
  --theme-primary-800: #2b5461;
  --theme-primary-900: #284852;
  --theme-primary-950: #1b2e36;

  --theme-secondary-50: #f8f7fb;
  --theme-secondary-100: #f2f1f6;
  --theme-secondary-200: #e6e5ef;
  --theme-secondary-250: #dcdae9;
  --theme-secondary-300: #d1cfe3;
  --theme-secondary-400: #b8b4d1;
  --theme-secondary-500: #9d94be;
  --theme-secondary-600: #887bac;
  --theme-secondary-700: #8174a0;
  --theme-secondary-750: #726690;
  --theme-secondary-800: #635780;
  --theme-secondary-900: #534969;
  --theme-secondary-950: #352f46;
}

body[data-theme="dark-2"],
.theme-selector[data-theme="dark-2"] {
  --theme-primary-50: #fcf9f0;
  --theme-primary-100: #f9f1db;
  --theme-primary-200: #f1e0b7;
  --theme-primary-300: #e8ca89;
  --theme-primary-400: #dda853;
  --theme-primary-500: #d79338;
  --theme-primary-600: #c87d2e;
  --theme-primary-700: #a76127;
  --theme-primary-800: #854e27;
  --theme-primary-900: #6c4122;
  --theme-primary-950: #3a2010;

  --theme-secondary-50: #eefcfd;
  --theme-secondary-100: #d3f4fa;
  --theme-secondary-200: #ace7f5;
  --theme-secondary-150: #8fddf1;
  --theme-secondary-300: #73d5ed;
  --theme-secondary-400: #33b9dd;
  --theme-secondary-500: #179cc3;
  --theme-secondary-600: #167da4;
  --theme-secondary-700: #196585;
  --theme-secondary-750: #1b5d79;
  --theme-secondary-800: #1d546d;
  --theme-secondary-900: #183b4e;
  --theme-secondary-950: #0d2d3f;
}

body[data-theme="light-2"],
.theme-selector[data-theme="light-2"] {
  --theme-primary-50: #f4f9fb;
  --theme-primary-100: #e9f1f5;
  --theme-primary-200: #cde3ea;
  --theme-primary-300: #9ecad6;
  --theme-primary-400: #6fb1c1;
  --theme-primary-500: #4d97aa;
  --theme-primary-600: #3b7b8e;
  --theme-primary-700: #306374;
  --theme-primary-800: #2b5461;
  --theme-primary-900: #284852;
  --theme-primary-950: #1b2e36;

  --theme-secondary-50: #f8fbf9;
  --theme-secondary-100: #f3f6f4;
  --theme-secondary-200: #e3eae1;
  --theme-secondary-250: #d9e2d7;
  --theme-secondary-300: #d0dacd;
  --theme-secondary-400: #a8bba3;
  --theme-secondary-500: #688361;
  --theme-secondary-600: #475f46;
  --theme-secondary-700: #374b35;
  --theme-secondary-750: #2e3c2a;
  --theme-secondary-800: #262d20;
  --theme-secondary-900: #162013;
  --theme-secondary-950: #080f06;
}
